@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&display=swap');

/* Default Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Code */

/* phone: 1px-600px */
/* tablet: 600px-1024px */
/* desktop: 1024> */

:root {
  --main-color: rgb(43, 58, 103);
  --accent-color: rgb(145, 160, 200);
  --background-white: rgb(235, 235, 240);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  background-color: var(--background-white);
  min-height: 100vh;
  min-width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: clamp(550px, 50%, 650px);
  height: 500px;
  background-color: var(--accent-color);
  border-radius: 25px;
  box-shadow:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px
  ;
  display: flex;
  justify-content: space-between;
  transition: height 0.35s ease;
}

.login-other-info {
  width: calc(clamp(550px, 50vw, 650px) - 65%);
  height: 100%;
  padding-block: 25px;
  
  position: absolute;
  right: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  transition: opacity 0.35s ease;
  z-index: 2;
}

.signup-other-info-title {
  text-align: center;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  padding-block: 1.5rem 0.8rem;
}

.signup-other-info {
  width: calc(clamp(550px, 50vw, 650px) - 65%);
  height: 100%;
  
  display: flex;
  flex-direction: column;
  
  position: absolute;
  left: 0;
  
  transition: opacity 0.35s ease;
  z-index: 2;
}

.signup-other-info-side-panel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.signup-other-info-side-panel {
  position: absolute;
  left: 0;
  transform: translateX(-0%);
  height: 100%;
  width: calc(100% * 4);
  display: flex;
  transition: transform 0.5s ease;
}

.signup-other-info-side-panel > div {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  line-height: 1.2rem;
  height: 100%;
  width: 100%;
  padding: 10px 18px;
  transition: opacity 0.35s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--main-color);
  font-weight: 500;
}

.consent-message {
  margin-top: 10px;
  font-weight: 600;
}

.form-container {
  position: absolute;
  border: 4px solid var(--main-color);
  background-color: rgb(235, 235, 240);
  height: 100%;
  width: 65%;
  border-radius: 25px;
  left: 0;
  transition: transform 0.5s ease;
  transform:
    translateX(calc(clamp(550px, 50vw, 650px) - clamp(550px, 50vw, 650px)));
  overflow: hidden;
  z-index: 3;
}

.heading {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--main-color);
  text-align: center;
  
  padding-block: 1.8rem;
}

.form-login, .form-signup {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-login form,
.form-signup form {
  gap: 10px;
}

.form-login input,
.form-signup input {
  width: 200px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  
  padding: 5px;
  margin-bottom: 30px;
  transition: font-size 0.15s ease;
}

.login-other-info-services,
.signup-other-info-services {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  gap: 10px;
}

.login-other-info-services > button,
.signup-other-info-services > button {
  width: 100%;
  height: 30px;
  border: none;
  background-color: rgb(235, 235, 240);
  border-radius: 50px;
  position: relative;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}

.login-other-info-services > button:hover,
.signup-other-info-services > button:hover {
  cursor: pointer;
}

.login-other-info-services > button > .companyLogo,
.signup-other-info-services > button > .companyLogo {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50px;
  background-color: var(--main-color);
  border: 4px solid var(--main-color);
}

.info-btn-arrow-icon {
  width: 15px;
  height: 15px;
  fill: rgb(146, 146, 146);
  margin-left: 5px;
  transform: translate(0, 1px);
  transition: transform 0.15s ease, fill 0.15s ease;
}

.login-other-info-services > button:active > .info-btn-arrow-icon,
.signup-other-info-services > button:active > .info-btn-arrow-icon {
  transform: translate(7px, 1px);
  fill: rgb(87, 87, 87);
}

.login-other-info-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
  gap: 7px;
}

:link, :visited {
  color: var(--main-color);
}

::selection {
  background-color: var(--accent-color);
  color: white;
  border-radius: 10px;
}

a:hover {
  text-decoration: transparent;
}

/* input transitions */

.input-field {
  position: relative;
}

.input-field input {
  padding-block: 12px 0;
  height: 40px;
  font-family: "Overpass Mono", sans-serif;
  font-size: 1.1rem;
  border: none;
}

.input-field label {
  position: absolute;
  top: 38%;
  left: 7px;
  color: rgb(150, 150, 150);
  transform: translate(0, -50%);
  transition: all 0.3s ease;
  font-size: 16px;
}

.input-field label:hover {
  cursor: text;
}

.input-field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 5px;
  transition: 0.5s;
}

.input-field span::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  height: 2px;
  width: 0%;
  border-radius: 5px;
  transition: 0.5s;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  top: 0px;
  left: 2px;
  font-size: small;
  color: var(--main-color);
}

.input-field input:focus ~ span::after,
.input-field input:valid ~ span::after {
  width: 100%;
  background-color: var(--main-color);
}

.input-field.validInput input ~ span::after {
  background-color: rgb(42, 125, 35);
}

.input-field.invalidInput input ~ span::after {
  background-color: rgb(159, 23, 23);
}

input[type="password"] {
  letter-spacing: -0.1px;
}

.passToggleBtn {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  top: calc(50% - 10px);
  transform: translate(0, -50%);
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease;
}
.passToggleBtn:hover {
  background-color: rgba(255, 255, 255, 0.45);
  cursor: pointer;
}

.passToggleBtn:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.passToggleBtn:active {
  background-color: rgba(255, 255, 255, 0.9);
}

.input-field input:focus ~ .passToggleBtn > svg,
.input-field input:valid ~ .passToggleBtn > svg {
  fill: var(--main-color);
}
.passToggleBtn > svg {
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  transform: translate(0.5px, 1px);
  fill: var(--accent-color);
  transition: fill 0.35s ease, opacity 0.15s ease;
}

.invisibleIcon {
  opacity: 0;
}

.errorIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% - 10px);
  transform: translate(0, -50%);
  left: -30px;
  opacity: 0;
  transition: opacity 0.35s ease;
}

@keyframes wobble {
  0% {
    transform: translate(0px, -50%);
  }
  25% {
    transform: translate(5px, -50%) rotate(-3deg);
  }
  50% {
    transform: translate(-5px, -50%) rotate(3deg);
  }
  75% {
    transform: translate(5px, -50%) rotate(-3deg);
  }
  100% {
    transform: translate(0px, -50%);
  }
}

.wobble-animation {
  animation: wobble 0.5s ease-in-out;
}

.input-field.error-visible > .errorIcon {
  opacity: 1;
}

/* buttons */

.form-login-buttons,
.form-signup-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 25px;
}

.submit-btn {
  border: 3px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  background-color: rgb(235, 235, 240);
  
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 20px;
  padding: 10px;
  width: 72px;
  min-height: 42px;
  transition: width 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:active {
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
}

.submit-btn.loading:active {
  border: 3px solid var(--main-color);
}

.submit-btn.success {
  border: 3px solid rgb(68, 142, 68);
  color: rgb(68, 142, 68);
}

.login-submit-btn,
.signup-submit-btn {
  border: 3px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  background-color: rgb(235, 235, 240);
  
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 20px;
  padding: 10px;
  min-height: 42px;
  transition: width 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.login-submit-btn {
  width: 72px;
}

.signup-submit-btn {
  width: 88px;
}

.login-submit-btn:hover,
.signup-submit-btn:hover {
  cursor: pointer;
}

.login-submit-btn:active,
.signup-submit-btn:active {
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
}

.login-submit-btn.loading:active,
.signup-submit-btn.loading:active {
  border: 3px solid var(--main-color);
}

.login-submit-btn.success,
.signup-submit-btn.success {
  border: 3px solid rgb(68, 142, 68);
  color: rgb(68, 142, 68);
}

.login-submit-text,
.signup-submit-text {
  position: absolute;
  white-space: nowrap;
  transition: opacity 0.25s ease;
}

/* submit button loader */

.submit-loading-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  
  opacity: 0;
  transition: opacity 0.25s ease;
  transform: translateY(1px);
}

.submit-loading-container > div {
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  animation: 1.5s infinite ease loadingAnimation;
}

.submit-loading-container > div:nth-child(1) {
  animation-delay: -1s;
}

.submit-loading-container > div:nth-child(2) {
  animation-delay: -0.66s;
}

.submit-loading-container > div:nth-child(3) {
  animation-delay: -0.33s;
}

.submit-loading-container > div:nth-child(4) {
  animation-delay: 0s;
}

@keyframes loadingAnimation {
  0%, 25% {
    transform: scale(1);
  }
  
  45% {
    transform: scale(1.2);
  }
  
  65% {
    transform: scale(0);
  }
  
  90%, 100% {
    transform: scale(1);
  }
}

/* links */

.toggle-form-anchor {
  color: var(--main-color);
  transition: color 0.2s ease;
}

.toggle-form-anchor:hover {
  cursor: pointer;
  color: var(--accent-color);
}

/* sign up */

.login-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: opacity .35s ease, transform 0.35s ease;
}

.signup-info {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  transition: opacity .55s .1s ease, transform 0.45s ease;
}

.form-container.right-side > .form-login {
  opacity: 0;
  z-index: 0;
}

.form-container.right-side > .form-signup {
  opacity: 1;
  z-index: 1;
}

.form-login {
  opacity: 1;
  z-index: 1;
}

.form-signup {
  opacity: 0;
  z-index: 0;
}


input[type="checkbox"] {
  display: none;
}

.news-checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.customCheckbox {
  width: 15px;
  height: 15px;
  border: 1.4px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  transition: background-color 0.15s ease;
}

.checkIcon {
  fill: white;
  height: 15px;
  width: 15px;
  rotate: -15deg;
  transform: translate(-10px, -10px);
  opacity: 0;
  transition: opacity 0.15s ease, rotate 0.15s ease, transform 0.15s ease;
}

.customCheckbox.checked {
  background-color: var(--main-color);
}

.customCheckbox.checked > .checkIcon {
  transform: translate(0.2px, 0.2px);
  rotate: 0deg;
  opacity: 1;
}

.customCheckbox:hover {
  cursor: pointer;
}

.date-of-birth-checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.signup-side-panel-email {
  gap: 12px;
}

.birth-date {
  height: 20px;
  overflow: hidden;
  transition: height 0.35s ease;
}

.birth-date-input-fields {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  gap: 7%;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.date-of-birth-checkbox.checked {
  margin-top: 8px;
  height: 100%;
}

.date-input-container {
  display: grid;
  grid-template-rows: 10px 1fr 10px;
}

.date-input-container > input {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  color: inherit;
  width: 100%;
  height: 22px;
  text-align: center;
}

.dateArrowUp {
  border: none;
  background-color: var(--main-color);
  border-radius: 50px 50px 12px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.dateArrowUp:not(.disable):active {
  transform: translateY(-2px);
}

.dateArrowUp > svg {
  height: 15px;
  width: 15px;
  fill: var(--background-white);
}

.dateArrowDown {
  border: none;
  background-color: var(--main-color);
  border-radius: 12px 12px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.dateArrowDown:not(.disable):active {
  transform: translateY(2px);
}

.dateArrowDown > svg {
  rotate: 180deg;
  height: 15px;
  width: 15px;
  fill: var(--background-white);
}

.dateArrowUp.disable,
.dateArrowDown.disable {
  opacity: 0.3;
}

.gender-dropdown-options {
  padding-top: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: height 0.35s ease, padding-top 0.35s ease, opacity 0.35s ease;
}

.gender-checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gender-dropdown-options > div {
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
}

.gender-dropdown-options .arrow-icon {
  height: 20px;
  width: 20px;
  rotate: 90deg;
  fill: var(--main-color);
  transform: translateY(2px);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.gender-dropdown-options > div:not(.selected) .arrow-icon {
  opacity: 0;
}

.gender-dropdown-options:hover > div:not(.selected) .arrow-icon {
  opacity: 1;
}

.gender-dropdown-options > div:hover {
  opacity: 0.7;
}

.gender-dropdown-options > div:active,
.gender-dropdown-options > div.selected:active {
  opacity: 1;
}

.gender-dropdown-options > div.selected {
  opacity: 0.7;
}

.gender-dropdown-options > div:hover > .arrow-icon {
  transform: translateY(-2px);
}

.password-range-container {
  height: 10px;
  transform: translateY(1.3px);
  width: 100%;
  border-radius: 50px;
  background-color: transparent;
  border: 1.5px solid var(--main-color);
  background-color: rgba(0, 0, 0, 0.15);
}

.password-strength {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 8px;
}

.strength-range {
  width: 15%;
  height: 100%;
  background-color: rgb(197, 71, 71);
  border-radius: 50px;
  transition: width 0.25s ease-in-out, background-color 0.25s ease;
}

.password-dependencies {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 25px 1fr;
  margin-bottom: 12px;
}

.password-dependencies-icon-container {
  display: flex;
}

.password-dependencies-icon-container > svg {
  position: absolute;
  height: 20px;
  width: 20px;
  transition: fill 0.35s ease, opacity 0.15s ease;
}

.check-icon {
  opacity: 0;
  fill: rgb(42, 125, 35);
}

.cross-icon {
  opacity: 1;
  fill: var(--main-color);
}

.password-generator-btn {
  height: 30px;
  border: none;
  background-color: rgba(235, 235, 240, 0.85);
  border-radius: 50px;
  position: relative;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.2s ease;
}

.password-generator-btn:hover {
  cursor: pointer;
}

.password-generator-btn:active {
  scale: 0.97;
}

.password-generator-dialog {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.dialog-content {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 15px;
  padding: 20px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  font-family: "Fira Mono", Arial, Helvetica, sans-serif;
}

.password-generator-display-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.password-generator-field {
  font-family: "Fira Mono", Arial, Helvetica, sans-serif;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  border: 1.5px solid var(--main-color);
  border-radius: 7px;
  padding: 5px;
}

.regenerate-btn,
.paste-field-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border: none;
  border-radius: 50px;
  width: 40px;
  height: 30px;
  transition: scale 0.2s ease, opacity 0.2s ease;
}

.regenerate-btn:hover,
.paste-field-btn:hover {
  cursor: pointer;
}

.regenerate-btn:active,
.paste-field-btn:active {
  scale: 0.9;
  opacity: 0.9;
}

.regenerate-btn > svg,
.paste-field-btn > svg {
  width: 90%;
  height: 90%;
  fill: var(--background-white);
}

.horizontal-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  margin-block: 20px 15px;
}

.password-generator-options-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.length-range-input {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  width: none;
}

.length-range-input::-webkit-slider-runnable-track {
/* .length-range-input::-moz-range-track { */
  background: var(--main-color);
  height: 6px;
  border-radius: 5px;
  position: relative;
  content: attr(value);
}

.length-range-input::-webkit-slider-thumb {
/* .length-range-input::-moz-range-thumb { */
  margin-top: calc((6px / 2) - (22px / 2));
  -webkit-appearance: none;
  height: 22px;
  width: 12px;
  background-color: var(--accent-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.length-range-indicator {
  font-family: "Titillium Web", sans-serif;
  width: 25px;
  height: 22px;
  border-radius: 3px;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid rgb(124, 139, 178);
  display: flex;
  align-items: center;
  text-align: center;
  transition: border 0.2s ease;
}

.length-range-indicator:focus {
  outline: none;
  border: 1px solid var(--main-color);
}

.password-generator-checkbox-container {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  height: 40px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.password-generator-checkbox-container > div {
  display: flex;
  gap: 5px;
}

.password-generator-close {
  position: absolute;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.signup-side-panel-password-confirm {
  text-align: center;
}

.signup-side-panel-password-confirm > p:nth-child(2) {
  margin-top: 1rem;
}

/* phone */

.input-field > .phone-input-container {
  width: 200px;
  height: 40px;
  margin-bottom: 30px;
  position: relative;
}

#signUpPhoneIDC, #signUpPhoneNum {
  font-family: "Montserrat", sans-serif;
}

#signUpPhoneNum {
  position: absolute;
  right: 0;
  top: 0;
  width: 72%;
  display: none;
}

.phone-vertical-divider {
  height: 22px;
  width: 1px;
  border-radius: 5px;
  background-color: var(--main-color);
  position: absolute;
  right: 60%;
  top: 50%;
  transform: translateY(-20px);
  transition: opacity 0.27s 0.2s ease, right 0.27s ease;
  opacity: 0;
}

.input-field > .phone-input-container span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 5px;
  transition: 0.5s;
}

.input-field > .phone-input-container span::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  height: 2px;
  width: 0%;
  border-radius: 5px;
}

.phone-label-container {
  position: absolute;
  width: 200px;
  height: 25px;
  bottom: 30px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}

.phone-label-container label {
  position: relative;
  height: 16px;
  top: 50%;
  left: 7px;
  transform: translate(0, calc(-50% - 15px));
  color: rgb(150, 150, 150);
  transition:
    color 0.25s ease,
    font-size 0.25s ease,
    font-weight 0.25s ease,
    transform 0.45s ease;
  font-size: 16px;
  white-space: nowrap;  
}

.input-field input:focus ~ .phone-label-container,
.input-field input:valid ~ .phone-label-container {
  transform: translate(-5px, calc(-50% - 17px));
}

.input-field input:focus ~ .phone-label-container label,
.input-field input:valid ~ .phone-label-container label {
  font-weight: 400;
  font-size: small;
  color: var(--main-color);
}

.phone-label-main {
  /* border: 1px solid rgb(68, 171, 192); */
}

.phone-label-placeholder {
  /* border: 1px solid rgb(26, 171, 26); */
}

.input-field > .phone-input-container input:focus ~ span::after,
.input-field > .phone-input-container input:valid ~ span::after {
  width: 100%;
  background-color: var(--main-color);
}