@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Default Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Code */

/* phone: 1px-600px */
/* tablet: 600px-1024px */
/* desktop: 1024> */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  background-color: rgb(235, 235, 240);
  min-height: 100vh;
  min-width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: clamp(550px, 50%, 650px);
  height: 500px;
  background-color: rgb(145, 160, 200);
  border-radius: 25px;
  box-shadow:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px
  ;
  overflow: hidden;
}

.form-container {
  position: relative;
  border: 4px solid rgb(43, 58, 103);
  background-color: rgb(235, 235, 240);
  height: 100%;
  width: 65%;
  border-radius: 25px;
  left: 0;
  transition: transform 0.5s ease;
}

.form-container.right-side {
  transform: translateX(calc(-100% + clamp(550px, 50vw, 650px)));
}

.heading {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(43, 58, 103);
  text-align: center;
  
  padding-block: 1.8rem;
}

.form-login {
  width: 100%;
  height: 100%;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-login input {
  width: 200px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  
  padding: 5px;
  margin-bottom: 30px;
}

.form-login input:focus {
  outline: none;
}

/* other info */

.login-other-info {
  position: absolute;
  width: calc(clamp(550px, 50vw, 650px) - 100% - 8px);
  height: 500px;
  transform: translate(calc(-100% + clamp(550px, 50vw, 650px) - 4px), -4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-other-info-services {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-other-info-services > button {
  width: 80%;
  height: 30px;
  border: none;
  background-color: rgb(235, 235, 240);
  border-radius: 50px;
  position: relative;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}

.login-other-info-services > button:hover {
  cursor: pointer;
}

.login-other-info-services > button > .companyLogo {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50px;
  background-color: rgb(43, 58, 103);
  border: 4px solid rgb(43, 58, 103);
}

.info-btn-arrow-icon {
  width: 15px;
  height: 15px;
  fill: rgb(146, 146, 146);
  margin-left: 5px;
  transform: translate(0, 1px);
  transition: transform 0.15s ease, fill 0.15s ease;
}

.login-other-info-services > button:active > .info-btn-arrow-icon {
  transform: translate(7px, 1px);
  fill: rgb(87, 87, 87);
}

.login-other-info-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
  gap: 7px;
}

:link, :visited {
  color: rgb(43, 58, 103);
}

a:hover {
  text-decoration: transparent;
}

/* input transitions */

.input-field {
  position: relative;
}

.input-field input {
  padding-block: 12px 0;
  height: 40px;
  font-size: 16px;
  border: none;
}

.input-field label {
  position: absolute;
  top: 40%;
  left: 7px;
  color: rgb(150, 150, 150);
  transform: translateY(-50%);
  transition: all 0.3s ease;
  font-size: 16px;
}

.input-field label:hover {
  cursor: text;
}

.input-field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(145, 160, 200);
  border-radius: 5px;
  transition: 0.5s;
}

.input-field span::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  height: 2px;
  width: 0%;
  transition: 0.5s;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  top: 0px;
  left: 2px;
  font-size: small;
  color: rgb(43, 58, 103);
}

.input-field input:focus ~ span::after,
.input-field input:valid ~ span::after {
  width: 100%;
  background-color: rgb(43, 58, 103);
}

.input-field.validInput input ~ span::after {
  background-color: rgb(42, 125, 35);
}

.input-field.invalidInput input ~ span::after {
  background-color: rgb(159, 23, 23);
}

input#pass {
  letter-spacing: 0.15rem;
}

.errorIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 0;
  transform: translate(-30px, -85%);
  opacity: 0;
  transition: opacity 0.35s ease;
}

@keyframes wobble {
  0% {
    transform: translate(-30px, -85%);
  }
  25% {
    transform: translate(-35px, -85%) rotate(-3deg);
  }
  50% {
    transform: translate(-25px, -85%) rotate(3deg);
  }
  75% {
    transform: translate(-35px, -85%) rotate(-3deg);
  }
  100% {
    transform: translate(-30px, -85%);
  }
}

.wobble-animation {
  animation: wobble 0.5s ease-in-out;
}

.input-field.error-visible > .errorIcon {
  opacity: 1;
}

/* buttons */

.form-login-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 25px;
}

.submit-btn {
  border: 3px solid rgb(43, 58, 103);
  border-radius: 10px;
  color: rgb(43, 58, 103);
  background-color: rgb(235, 235, 240);
  
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 20px;
  padding: 10px;
  width: 72px;
  min-height: 42px;
  transition: width 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:active {
  border: 3px solid rgb(145, 160, 200);
  color: rgb(145, 160, 200);
}

.submit-btn.loading:active {
  border: 3px solid rgb(43, 58, 103);
}

.submit-btn.success {
  border: 3px solid rgb(68, 142, 68);
  color: rgb(68, 142, 68);
}

.login-submit-text {
  position: absolute;
  white-space: nowrap;
  transition: opacity 0.25s ease;
}

/* submit button loader */

.submit-loading-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  
  opacity: 0;
  transition: opacity 0.25s ease;
  transform: translateY(1px);
}

.submit-loading-container > div {
  width: 10px;
  height: 10px;
  background-color: rgb(43, 58, 103);
  border-radius: 50%;
  animation: 1.5s infinite ease loadingAnimation;
}

.submit-loading-container > div:nth-child(1) {
  animation-delay: -1s;
}

.submit-loading-container > div:nth-child(2) {
  animation-delay: -0.66s;
}

.submit-loading-container > div:nth-child(3) {
  animation-delay: -0.33s;
}

.submit-loading-container > div:nth-child(4) {
  animation-delay: 0s;
}

@keyframes loadingAnimation {
  0%, 25% {
    transform: scale(1);
  }
  
  45% {
    transform: scale(1.2);
  }
  
  65% {
    transform: scale(0);
  }
  
  90%, 100% {
    transform: scale(1);
  }
}

/* links */

.toggle-form-anchor {
  color: rgb(43, 58, 103);
  transition: color 0.2s ease;
}

.toggle-form-anchor:hover {
  cursor: pointer;
  color: rgb(145, 160, 200);
}
